<div class="mt-2 mb-2 ml-2 mr-2 p2">

  <div *ngFor="let equipo of equipos">

    <div class="row">
      <div class="col-3 " >
          <div class="col ml-5">
              <img [src]="equipo.strTeamBadge" class="card-img-top mt-3 img-fluid" alt="Escudo del Equipo"
                style="width : 20rem;">
            </div>

        <div class="col mt-5">
          <img [src]="equipo.strTeamLogo" class="img-fluid ml-5 mb-2" alt="Logo del Equipo">
        </div>

      </div>

      <div class="col-9" >
          <p class="card-text mt-2 text-justify col-sm-11" style="margin: 0 auto;">{{equipo.strDescriptionEN}}</p>
          <div class="row">
            <div class="col-2 mt-4" style="max-height: 100% ; max-width: 100%; margin: 0 auto;">
              <img [src]="equipo.strTeamJersey" class="card-img-top mt-3 img-fluid" alt="Camiseta del Equipo">
            </div>
            <div class="col-4 mt-4" style="height: 100%;" style="margin: 0 auto;">
                <img [src]="equipo.strStadiumThumb" class="card-img-top mt-3 img-fluid" alt="Estadio del Equipo">
              </div>
          </div>
          <div>
            <p class="card-text mt-5 text-justify col-sm-11 mb-5" style="margin: 0 auto;">{{equipo.strStadiumDescription}}</p>
          </div>
      </div>

    </div>

  </div>

  <h2 class="text-center mt-3">ULTIMOS 5 EVENTOS</h2>
  <div class="row" style="margin: 0 auto;">
    <div *ngFor='let ulti_eventos of ultieventos'  style="margin: 0 auto;">
      <div class="col">
        <div class="card mt-4 mb-2 ml-2 mr-2 p2 bg-dark border-info"
        style="width: 100%; padding-top: -10px; padding-bottom: -10px;">
        <div class="card-body text-white">
          <ul class="list-group list-group-flush">
            <li class="list-group-item bg-dark">Evento : {{ulti_eventos.strHomeTeam}} vs
              {{ulti_eventos.strAwayTeam}}</li>
              <li class="list-group-item bg-dark">{{ulti_eventos.strHomeTeam}} :
                {{ulti_eventos.intHomeScore || 0}}
              </li>
              <li class="list-group-item bg-dark">{{ulti_eventos.strAwayTeam}} :
                {{ulti_eventos.intAwayScore || 0}}
              </li>
              <li class="list-group-item bg-dark">Fecha : {{ulti_eventos.strDate || ulti_eventos.dateEvent}} </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h2 class="text-center mt-3">PROXIMOS 5 EVENTOS</h2>
  <div class="row" style="margin: 0 auto;">
      <div *ngFor='let sig_evento of eventos'  style="margin: 0 auto;">
          <div class="col">
            <div class="card mt-4 mb-2 ml-2 mr-2 p2 bg-dark border-primary"
              style="width: 100%; padding-top: -10px; padding-bottom: -10px;">
              <div class="card-body text-white">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item bg-dark"> Evento :
                    {{sig_evento.strEvent || sig_evento.strEventAlternate}}</li>
                  <li class="list-group-item bg-dark">Fecha : {{sig_evento.strDate || sig_evento.dateEvent}}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
  </div>

  <div class="row ml-2 mt-2">
    <div *ngFor='let jugador of jugadores'>
      <div class="col mt-2 mb-2">
        <a [routerLink]="['/jugador', jugador.idPlayer]">
          <img [src]="jugador.strThumb ||  jugador.strCutout" class="card-img-top mt-3 img-fluid" alt="Foto del Jugador"
            style="border-radius: 50%; width: 11.5rem;">
        </a>
      </div>
    </div>
  </div>


    <div *ngFor="let equipo of equipos">
      <app-tabla-posicion [idTeam]="equipo.idTeam"></app-tabla-posicion>
    </div>

        <div class="row">
        <div class="col"></div>
          <div *ngFor="let equipo of equipos">
            <app-todospartidos [equipoID]="equipo.idTeam"></app-todospartidos>
          </div>
          <div class="col"></div>
        </div>

</div>
